$fullhd: 1200px + (2 * $gap);
$section-padding-desktop: 3rem 0;

//colors
$grey3: #333433;
$grey1: #313231;


//font-family
$family-primary: 'Urbanist', sans-serif;
$family-secundary: 'Helvetica', 'Arial', sans-serif;

//font-size
$is-size-1: 65px;
$is-size-2: 30px;
$is-size-3: 25px;
$is-size-4: 20px;

//font-size-mobile
$is-size-5: 16px;